.timeline-section {
  padding: 5vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, $color-alternate 0%, $color-primary-light 30%, $color-primary 80%, $color-primary-dark 100%);
}

.projects-panel {
  padding: 5vw;
  height: 80vh;
  background-color: $color-primary-dark;
}
