.timeline-section {
  padding: 5rem;
  height: 90vh;
  background-image: linear-gradient(to bottom, $color-alternate 0%, $color-primary-light 30%, $color-primary 80%, $color-primary-dark 100%);
}

.projects-panel {
  padding: 5rem;
  height: 60vh;
  background-color: $color-primary-dark;
}
