$color-primary-dark: rgba(1, 17, 37, 1);
$color-primary: rgba(27, 42, 78, 1);
$color-primary-light: rgba(50, 58, 82, 1);
$color-alternate: rgba(80, 164, 137, 1);

$white: #eaeef8;
$clear-white: #fff;

$main-body-color: rgb(119, 119, 119, 1);
$main-body-color-transparent: rgb(119, 119, 119, 0);
