.footer {
  background-color: $color-primary-dark;
  padding-top: 3vw;
  display: flex;
  flex-grow: 4;
  flex-direction: row;
  justify-content: center;

  a {
    padding: 1rem;
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: .1s;

    &:hover {
      transform: translateY(-10%)
    }

    &:active {
      transform: translateY(-5%)
    }
  }
}
